@charset "UTF-8";
/*tamaños*/
/*colores*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*botones*/
@font-face {
  font-family: "WindstoneSerif";
  src: url(../fonts/windstone_serif/WindstoneSerif.otf);
}
body {
  font-family: "Inter", sans-serif;
  font-family: "Quicksand", sans-serif;
  background-color: #EDEBF0;
  margin-top: 100px;
}

.navbar {
  background-color: #EDEBF0;
}
.navbar ul li {
  padding: 0px 40px 0px 40px;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-bottom: none;
  color: #9E8BB9;
}
.navbar ul li a {
  text-decoration: none;
}

.navbar-toggler {
  color: #9E8BB9;
}

.nav-informacion {
  border-style: none !important;
}

.foto-header {
  width: 100vw;
}

/*Fin header*/
/*botones*/
button {
  font-size: 0.9rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  padding: 8px 16px 8px 16px;
  border-radius: 4px;
  background-color: #9E8BB9;
  color: #EDEBF0;
}
button a {
  text-decoration: none;
  color: #EDEBF0;
}
button:hover {
  background-color: #454756;
}

.btn-numerologia {
  margin-top: 95px;
}

.btn-pendulo {
  margin-top: 120px;
}

.btn-reserva {
  font-size: 0.9rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  padding: 8px 16px 8px 16px;
  border-radius: 4px;
  background-color: #9E8BB9;
  color: #EDEBF0;
  margin-top: 60px;
}
.btn-reserva a {
  text-decoration: none;
  color: #EDEBF0;
}
.btn-reserva:hover {
  background-color: #454756;
}

.btn-boton-reserva {
  font-size: 0.9rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  padding: 8px 16px 8px 16px;
  border-radius: 4px;
  background-color: #9E8BB9;
  color: #EDEBF0;
  color: #EDEBF0;
}
.btn-boton-reserva a {
  text-decoration: none;
  color: #EDEBF0;
}
.btn-boton-reserva:hover {
  background-color: #454756;
}

.btn-1, .btn-3 {
  margin-top: 10px;
}

/*fin botones*/
/*Titulos index General*/
h1 {
  font-family: "WindstoneSerif";
}

h3 {
  font-family: "WindstoneSerif";
}

h4 {
  font-family: "Inter", sans-serif;
  font-family: "Quicksand", sans-serif;
}

/*INDEX*/
.contenedor-sobrelugar {
  display: grid;
  margin-top: 120px;
  margin-bottom: 200px;
  justify-items: center;
}
.contenedor-sobrelugar h1 {
  margin-left: 0;
  font-size: 4.5rem;
}

p#lugar1 {
  font-size: 1.25rem;
  font-weight: lighter;
  text-align: left;
}

.container-servicios .servicio-redes {
  width: 290px;
  text-align: center;
  justify-items: center;
  align-items: center;
}
.container-servicios .servicio-numerologia {
  width: 290px;
  text-align: center;
}
.container-servicios .servicio-pendulo {
  width: 290px;
  text-align: center;
}
.container-servicios .servicio-armonizacion {
  width: 290px;
  text-align: center;
}

h3, .redes, .pendulo, .numerologia, .armonizacion {
  margin-top: 20px;
}

div.contenido-sesiones {
  padding-top: 100px;
  font-size: 1.5rem;
  font-weight: lighter;
  color: #EDEBF0;
}

.sesiones {
  margin-top: 200px;
  width: 100vw;
}
.sesiones .sesiones-btn {
  display: flex;
  justify-content: center;
}

#titulo-sesiones {
  text-align: center;
  color: #EDEBF0;
}

.contactame {
  color: #EDEBF0;
  margin-top: 200px;
  text-align: center;
  background: rgb(158, 139, 185);
  background: radial-gradient(circle, rgb(158, 139, 185) 0%, rgb(69, 71, 86) 100%);
}

.contenedor-informacion {
  margin-top: 200px;
  margin-bottom: 200px;
  justify-content: center;
}
.contenedor-informacion .telefono {
  text-align: center;
}
.contenedor-informacion .telefono h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 400;
}
.contenedor-informacion .telefono h4 {
  margin-top: 20px;
  font-size: 1.1rem;
  font-weight: lighter;
}
.contenedor-informacion .instagram {
  justify-content: center;
  text-align: center;
}
.contenedor-informacion .instagram h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 400;
}
.contenedor-informacion .instagram h4 {
  margin-top: 20px;
  font-size: 1.1rem;
  font-weight: lighter;
}
.contenedor-informacion .mail {
  justify-content: center;
  text-align: center;
}
.contenedor-informacion .mail h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 400px;
}
.contenedor-informacion .mail h4 {
  margin-top: 20px;
  font-size: 1.1rem;
  font-weight: lighter;
}

/*Fin index*/
/*Footer*/
.pie-pagina {
  width: 100%;
}
.pie-pagina .footer {
  margin: 0;
  padding: 0;
}
.pie-pagina .sec-lugar a {
  text-decoration: none;
  color: inherit;
}

.lugar-footer {
  font-size: smaller;
}

.seccion-1 .logo img {
  width: 250px;
}
.seccion-1 h6 {
  font-weight: 700;
  font-size: smaller;
}
.seccion-1 ul {
  padding-left: 0px;
}
.seccion-1 ul li {
  list-style: none;
  font-size: smaller;
}
.seccion-1 ul a {
  text-decoration: none;
  color: inherit;
}

.sec-informacion a {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #EDEBF0;
  background-color: #9E8BB9;
  border-radius: 20px;
  text-align: center;
  margin-right: 10px;
}
.sec-informacion a:hover {
  color: #454756;
}

.seccion-2 {
  width: 100%;
  padding: 15px 10px;
  text-align: center;
  background-color: #454756;
  color: #EDEBF0;
  font-size: smaller;
  font-size: 0.75rem;
}

/*Fin footer*/
/*Sesiones*/
.sesiones-disponibles {
  margin: 200px 0 100px 0;
  text-align: center;
}

.proximamente {
  margin: 200px 0 100px 0;
  text-align: center;
}

.cards-grupo2 {
  margin-bottom: 200px;
}

/*fin de sesiones*/
/*Numerologia, redes, armonizacion, pendulo*/
.paginas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.paginas h1 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.paginas p {
  text-align: center;
  margin: 0 100px 100px 100px;
}

/*Fin de Numerologia, redes, armonizacion, pendulo*/
@media screen and (max-width: 1300px) {
  body {
    margin-top: 5rem;
  }
}
@media screen and (max-width: 1024px) {
  .servicio-numerologia {
    margin-bottom: 5rem;
  }
  .btn-1, .btn-3 {
    margin-top: 20px;
  }
  .sesiones-disponibles, .proximamente {
    margin: 120px 0 60px 0;
  }
}
@media screen and (max-width: 768px) {
  .btn-numerologia, .btn-pendulo {
    margin-top: 0;
  }
  .servicio-redes {
    margin-bottom: 5rem;
  }
  .servicio-numerologia {
    margin-bottom: 5rem;
  }
  .servicio-pendulo {
    margin-bottom: 5rem;
  }
  .servicio-armonizacion {
    margin-bottom: 5rem;
  }
  div.contenido-sesiones {
    padding-top: 200px;
    font-size: 20px;
    font-weight: lighter;
    color: #EDEBF0;
  }
  p.cuerpo-paginas {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 425px) {
  div.contenido-sesiones {
    padding-top: 50px;
    font-size: 20px;
    font-weight: lighter;
    color: #EDEBF0;
  }
  .img-lugar {
    height: 300px;
  }
  .contenedor-sobrelugar {
    margin-top: 20px;
  }
  .sesiones-disponibles, .proximamente {
    margin: 120px 0 60px 0;
  }
}
@media (max-width: 768px) {
  .btn-servicios,
  .boton-sesiones,
  .button-principal,
  .btn-numerologia,
  .btn-pendulo,
  .btn-boton-reserva {
    padding: 10px 20px;
    width: 100%;
    display: block;
  }
  .btn-numerologia,
  .btn-pendulo {
    margin-top: 100px;
  }
  .btn-reserva,
  .btn-boton-reserva {
    padding: 10px 20px;
    display: block;
    width: 70%;
    margin: 0 auto;
  }
  .img-lugar {
    height: 300px;
  }
  .btn-1, .btn-3 {
    margin-top: 40px;
  }
  .sesiones-disponibles, .proximamente {
    margin: 120px 0 60px 0;
  }
}

/*# sourceMappingURL=style.css.map */
