/*tamaños*/
$fontSizeGrande: 4.5rem;
$fontSizeMediana: 1.5rem;
$fontSizechica: 1.1rem;
$fontSizeparrafos: 1.25rem;
$fontSizebotones: 0.9rem;
/*colores*/
$colorprincipal: #9E8BB9;
$colorhover: #454756;
$colorbackground: #EDEBF0;
